body,html{
	background-image:url("../img/Fondo.jpg");background-position:center;background-size:cover;
	
}
.a{
	width:25%;
	height:100%;
	float:left;

}
#cpanel{
	position:relative;
	margin-bottom:10%;
	margin-left:50%;
}
.Paneles{
	width:70%;
	height:100%;
	margin-bottom:1%;
}
#velocidad{
	font-size:1.2vw;
	position:absolute;
	top:12%;
	left:18.3%;
	z-index:5;
}
#altura{
	font-size:1.2vw;
	position:absolute;
	top:80%;
	left:18%;
	z-index:5;
}
#fuel{
	font-size:1.2vw;
	position:absolute;
	top:45%;
	left:18.1%;
	z-index:5;
}

.b{
	height:100%;
	width:50%;
	text-align:center;
	float:left;
}
#nave{
	text-align:center;
	position:fixed;
	top:10%;
	width:50%;
	height:20%
}
#nave img{
	height:100%;
}
.c{
	width:25%;
	height:100%;
	display:inline-block;

}
#Botones1{
	height:10%;
	width:100%;	
	float:left;
	
}
#pausa{
	float:left;
	height:25%;
	width:25%;
	margin:1%;
}
#pausa:hover{transform:scale(1.3);}
#Fin{
	width:30%;
	position:fixed;
	left:35%;
	display:none;
	
}
#Fin2{
	top:16%;
	width:30%;
	position:fixed;
	left:35%;
	display:none;
}

#facil{
	position:fixed;
	left:40%;
	top:40%;
	display:none;
	z-index:5;
	height:5%;
}
#facil:hover{transform:scale(1.3);}
#normal{
	position:fixed;
	left:47%;
	top:40%;
	display:none;
	z-index:5;
	height:5%;
	
}
#normal:hover{transform:scale(1.3);}
#dificil{
	position:fixed;
	left:55%;
	top:40%;
	display:none;
	z-index:5;
	height:5%;
	
}
#dificil:hover{transform:scale(1.3);}
#play2{
	display:none;
}
#play{
	display:none;
	float:left;
	height:25%;
	width:25%;
	margin:1%;
}
#play:hover{transform:scale(1.3);}
#reiniciar{
	float:left;
	height:25%;
	width:25%;
	margin:1%;
}
#reiniciar:hover{transform:scale(1.3);}
#reiniciar2{
	display:none;
}
#info{
	float:left;
	height:25%;
	width:25%;
	margin:1%;
}
#info:hover{transform:scale(1.3);}
#Power{
	position:fixed;
	bottom:10%;
	left:80%;
	right:40%;
	max-width:10%;
}
#Menu1{
	display:none;
	
}
#Menu2{
	display:none;
}

#Luna{
	height:13%;
	width:25%;
	position:fixed;
	bottom:0;
	left:38%;
	max-width:100%;
}
#contenedor{
	position:fixed;
	width:30%;
	z-index:5;
	left:36%;
	margin-top:10%;
	display:none;
	
}
#volver{
	position:fixed;
	left:47%;
	top:40%;
	z-index:6;
	display:none;
	height:5%;
	width:5%;
}
#volver:hover{transform:scale(1.3);}
#about{
	position:fixed;
	left:40%;
	top:26%;
	z-index:6;
	display:none;
	height:5%;
	width:5%;
}
#about:hover{transform:scale(1.3);}
#instrucciones{
	position:fixed;
	left:55%;
	top:26%;
	z-index:6;
	display:none;
	height:5%;
	width:5%;
}
#instrucciones:hover{transform:scale(1.3);}
#instrucciones2{
	position:relative;
	width:35%;
	height:20%;
	left:9%;
}
#about2{
	position:relative;
	width:35%;
	height:20%;
	left:9%
}
#volver2:hover{transform:scale(1.3);}
#volver2{
	position: absolute;
	width:6%;
	height:6%;
	background-color: lightgrey;
	cursor:pointer;
	border-style:solid;
	border-color:black;

	text-align: center;
	color:black;
	font-size:2vw;
	left:48%;
	top:60%;
}
#hidem,#showm{display:none}
