body{
	background-image:url("../img/Fondo.jpg");background-position:center;background-size:cover;
}
.a{
	width:25%;
	height:100%;
	float:left;

}
#cpanel{
	margin-bottom:10%;
	position:relative;
	
}
.Paneles{
	width:110%;
	height:100%;
	margin-bottom:1%;
}
#velocidad{
	font-size:4.5vw;
	position:absolute;
	top:10%;
	left:22%;
	z-index:5;
}
#altura{
	font-size:4.5vw;
	position:absolute;
	top:77.3%;
	left:22%;
	z-index:5;
}
#fuel{
	font-size:4.5vw;
	position:absolute;
	top:45%;
	left:22%;
	z-index:5;
}

.b{
	height:100%;
	width:50%;
	text-align:center;
	float:left;
}
#nave{
	text-align:center;
	position:fixed;
	top:10%;
	width:50%;
	height:20%
}
#nave img{
	height:100%;
}
.c{
	width:25%;
	height:100%;
	display:inline-block;

}
#Botones1{
	height:10%;
	width:100%;		
}
#Fin{
	width:95%;
	position:fixed;
	left:2.5%;
	top:20%;
	display:none;
	z-index:5

}
#Fin2{
	width:95%;
	position:fixed;
	top:20%;
	left:2.5%;
	display:none;
	z-index:5;
}
	
#facil{
	position:fixed;
	left:8%;
	top:43%;
	display:none;
	z-index:7;
	width:27%;
	height:5%;
}
#facil:hover{transform:scale(1.3);}
#normal{
	position:fixed;
	left:37%;
	top:43%;
	display:none;
	z-index:7;
	width:27%;
	height:5%;
}
#normal:hover{transform:scale(1.3);}
#dificil{
	position:fixed;
	left:67%;
	top:43%;
	display:none;
	z-index:7;
	width:27%;
	height:5%;
}
#dificil:hover{transform:scale(1.3);}
#reiniciar{
	display:none;
}
#reiniciar2{
	float:left;
	height:100%;
	width:100%;
	margin:1%;
	display:none;
}
#reiniciar2:hover{transform:scale(1.3);}
#play{
	display:none;
}
#pausa{
	display:none;
}
#info{
	float:left;
	height:100%;
	width:100%;
	margin:1%;
	display:none;
}
#info:hover{transform:scale(1.3);}
#Power{
	position:fixed;
	bottom:15%;
	left:78%;
	right:40%;
	max-width:20%;
}
#Menu1{
	height:100%;
	width:100%;
	margin:1%;
	
}
#Menu1:hover{transform:scale(1.3);}
#Menu2{
	display:none;
	height:100%;
	width:100%;
	margin:1%;
}
#Menu2:hover{transform:scale(1.3);}
	
#Luna{
	height:10%;
	width:60%;
	position:fixed;
	bottom:0;
	right:18%;
}
#contenedor{
	position:fixed;
	width:99%;
	z-index:5;
	right:0.5%;
	display:none;
	top:20%;
}
#volver{
	position:fixed;
	left:40%;
	top:37%;
	z-index:6;
	display:none;
	width:30%;
	height:7%;

}
#volver:hover{transform:scale(1.3);}
#about{
	position:fixed;
	left:14%;
	top:25%;
	z-index:6;
	width:20%;	
	display:none;
	width:30%;
	height:7%;
}
#about:hover{transform:scale(1.3);}
#instrucciones{
	position:fixed;
	left:53%;
	top:25%;
	z-index:6;
	display:none;
	width:30%;
	height:7%;
}
#instrucciones:hover{transform:scale(1.3);}
#instrucciones2{
	position:relative;
	width:90%;
	height:20%;
	left:9%;
	margin-top:-50%;
	z-index:6
}
#about2{
	position:relative;
	width:90%;
	height:20%;
	left:5%;
	margin-top:-50%;
	z-index:6
}
#volver2{
	position: absolute;
	display: inline-block;
	width:25%;
	height:7%;
	background-color: lightgrey;
	cursor:pointer;
	border-style:solid;
	border-color:black;

	text-align: center;
	color:black;
	font-size:8vw;
	position:fixed;
	bottom:40%;
	left:35%;
	z-index:6;
}
#volver2:hover{transform:scale(1.2);}
#hidem,#showm{display:none}
